.sobre-bg {
  background: var(--c4);
}

.sobre {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 180px;
}

.sobre-projeto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sobre-projeto .paragrafo p > a:hover {
  color: var(--c5);
  transition: .3s;
}

.sobre-projeto-conteudo,
.sobre-mim {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sobre-projeto-conteudo {
  max-width: 900px;
}

.sobre-projeto img {
  border-radius: 20px;
  min-width: 400px;
  transition: .8s;
}

.sobre-projeto img:hover {
  transform: scale(1.05);
}

.sobre .titulo {
  color: var(--c7);
}

.sobre-mim .titulo {
  text-align: end;
}

.sobre .paragrafo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--c6);
}

.sobre-mim .paragrafo {
  display: flex;
  align-self: end;
  max-width: 1240px;
}

@media (max-width: 1000px) {
  .sobre-projeto {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sobre-projeto img {
    min-width: initial;
  }
  .sobre-projeto-conteudo {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .sobre {
    gap: 40px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 540px) {
  .sobre-projeto img {
    display: none;
  }
}