.avaliacoes-bg {
  background: var(--c2);
}

.avaliacoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 28px;
}

.avaliacoes-titulo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avaliacoes-titulo .titulo {
  color: var(--c7);
}

.avaliacoes-titulo .subtitulo {
  color: var(--c6);
}

.avaliacoes-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.avaliacoes-item {
  display: flex;
  gap: 20px;
}

.avaliacoes-item .album-img img {
  max-width: 300px;
}

.avaliacoes-item:hover .album-img img {
  filter: brightness(.4);
  transform: scale(1.05);
}

.avaliacoes-item .album-desc {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .avaliacoes {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 36px;
  }
}

@media (max-width: 555px) {
  .avaliacoes {
    margin-top: 16px;
  }
}

@media (max-width: 540px) {
  .avaliacoes {
    margin-top: 50px;
  }
  .avaliacoes-item {
    flex-direction: column;
    gap: 10px;
  }
  .avaliacoes-item .album-desc {
    padding-top: 0;
    padding-bottom: 0;
    gap: 20px;
  }
  .avaliacoes-item .album-avaliacao p {
    font-size: 1.25rem;
  }
}

@media (max-width: 398px) {
  .avaliacoes {
    margin-top: 36px;
  }
}