#albuns-sect .albuns-bg {
  background: var(--c2);
}

#albuns-sect .albuns {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#albuns-sect .albuns .titulo {
  color: var(--c7);
}

#albuns-sect .albuns-lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

#albuns-sect .album-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .3;
  transform: scale(.8);
  transition: .3s;
}

#albuns-sect .album-item.ativo {
  opacity: 1;
  transform: scale(1);
}

#albuns-sect .album-item .album-img img {
  max-width: 520px;
  pointer-events: none;
}

#albuns-sect .album-item.ativo .album-img img {
  pointer-events: auto;
}

#albuns-sect .album-item:hover .album-img img {
  filter: brightness(1);
  transform: scale(1);
}

#albuns-sect .album-item.ativo:hover .album-img img {
  transform: scale(1.05);
  filter: brightness(1);
}

#albuns-sect .album-item .album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  #albuns-sect .albuns {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  #albuns-sect .album-item .album-img img {
    max-width: calc(520px/1.8);
  }
}

@media (max-width: 540px) {
  #albuns-sect .album-item.ativo:hover .album-img img {
    transform: scale(1.025);
    filter: brightness(1);
  }
}