.banner-bg {
  position: relative;
  background: url('/assets/collage-b&w.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

#avaliacoes {
  background: url('/assets/vinyl.jpg');
  background-size: cover;
  background-position: center;
}

#rap {
  background: url('/assets/rap.jpg');
  background-size: cover;
  background-position: center;
}

.banner {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.banner h1 {
  position: absolute;
  bottom: 40px;
  color: var(--c7);
  max-width: 685px;
}

@media(max-width: 800px) {
  .banner-bg {
    height: 350px;
  }
}

@media(max-width: 768px) {
  .banner h1 {
    font-size: 2.5rem;
  }
}

@media(max-width: 540px) {
  .banner-bg {
    height: 250px;
  }
}