:root {
  --c1: #0a0a0a;
  --c2: #0d0d0d;
  --c3: #152b08;
  --c4: #0d1608;
  --c5: #fffaed;
  --c6: #fff5d9;
  --c7: #c7ae6a;
}

.font-1-xg {
  font-family: "Quattrocento", sans-serif;
  font-size: 6rem;
}

.font-1-g {
  font-family: "Quattrocento", sans-serif;
  font-size: 4rem;
}

.font-1-m {
  font-family: "Quattrocento", sans-serif;
  font-size: 2.5rem;
}

.font-1-p {
  font-family: "Quattrocento", sans-serif;
  font-size: 2rem;
}

.font-1-xp {
  font-family: "Quattrocento", sans-serif;
  font-size: 1.5rem;
}

.font-1-xxp {
  font-family: "Quattrocento", sans-serif;
  font-size: 1.25rem;
}

.font-2-g {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.5rem;
}

.font-2-m {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.25rem;
}

.font-2-p {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.25rem 2.5rem;
}

@media(max-width: 800px) {
  .container {
    padding: 1rem 1.5rem;
  }
}

@media(max-width: 540px) {
  .container {
    padding: 1rem;
  }
}